// Theme variables
:root {
  // accent
  --accent: light-dark(var(--palette-sage), var(--palette-bright-blue));

  // scrollbar
  --scrollbar: light-dark(#000000bf, var(--palette-gold));

  // bg
  --bg-default: light-dark(
    var(--palette-parchment),
    var(--palette-black-medium)
  );
  --bg-secondary: light-dark(var(--palette-white), var(--palette-gray-dark));

  --bg-ui: light-dark(var(--palette-gray), var(--palette-gray-lighter));

  --bg-dialog-backdrop: light-dark(
    var(--palette-black-60),
    var(--palette-black-80)
  );
  --bg-trans: rgba(255, 255, 255, 0);
  --bg-striped: light-dark(var(--palette-white), #ffffff08);

  --bg-site-header: light-dark(var(--palette-black), var(--palette-black));
  --bg-site-footer: light-dark(var(--palette-beige), var(--palette-gray));

  --bg-card: light-dark(var(--palette-white-80), var(--palette-gray));

  // text
  --text-default: light-dark(var(--palette-gray), var(--palette-beige));
  --text-heading: light-dark(var(--palette-black), var(--palette-white));
  --text-selection: light-dark(var(--palette-white), var(--palette-black));
  --text-selection-bg: light-dark(var(--palette-sage), var(--palette-gold));
  --text-site-header: light-dark(
    var(--palette-parchment),
    var(--palette-parchment)
  );
  --text-ui: light-dark(var(--palette-white), var(--palette-black));

  --text-site-footer: light-dark(var(--palette-gray), var(--palette-beige));
  --text-page-header-title: light-dark(
    var(--palette-navy-blue),
    var(--palette-gold)
  );
}
