@use "backgrounds" as *;

// STRATA Section — Figma component
@mixin section {
  // default variant
  background-color: var(--bg-default);
  padding: var(--spacing-block) var(--spacing-md);
}
// feature variant
@mixin section-feature {
  @include bg-lady-justice;
  background-repeat: no-repeat;
  background-position: var(--bg-lady-justice-pos-x)
    var(--bg-lady-justice-pos-y-featured);
  background-size: var(--bg-lady-justice-size-x) auto;
  .contentPane {
    max-width: 35rem;
    margin-inline: auto;
  }
}
// secondary variant
@mixin section-secondary {
  background-color: var(--bg-secondary);
}

.contentPane {
  display: grid;
  gap: var(--spacing-block);
}

// App selector for section component
#MainPane {
  @include section;
}

#MainPaneFeature {
  @include section;
  @include section-feature;
}
