<div class="dxpnlControl_MaterialCompact footerPane panel dxpnl-edge b" id="FooterPane">
      <div class="footerMenu">
        <img alt="EA Logo" src="/Content/Images/EA Logo.png">
      </div>
      <div class="copyright">
        <span class="dxeBase_MaterialCompact">© 2026 EisnerAmper</span>
      </div>
    </div>