<!-- Mobile Header -->
<div id="HeaderPane_EB" class="dxpnl-bar dxpnl-edge t dxpnlControl_MaterialCompact headerPane bar dxpnl-expanded"
  style="background-color:#003057;">
  <div class="dxpnl-bar-tmpl dxpnl-np" style="width: calc(100% - 16px);">
    <div class="templateTitle">
      <a href="/">AFFF MDL Portal</a>
    </div>
  </div>
  <!-- <div id="HeaderPane_EBB" class="dxpnl-btn dxpnl-fp  dxpnl-btnSelected" style="margin-top: 5.75px;">
    <img id="HeaderPane_EBBI" class="dxWeb_pnlExpand_MaterialCompact" src="/DXR.axd?r=1_87-SZRsu" alt="">
  </div> -->
</div>

<!-- Header -->
<div class="dxpnlControl_MaterialCompact headerPane panel dxpnl-edge t dxpnl-expanded expandedPanel" id="HeaderPane"
  style="background-color: rgb(0, 48, 87); top: 45px;" savedtop="[object Object]">

  <div class="d-flex flex-row">
    <div class="templateTitle" style="width:65%">


      <div class="d-flex align-items-center">
        <img src="/Content/Images/EA Logo.png" alt="EA Logo" style="height: 28px; margin: 0px 12px 0px 0px;">
        <a href="/">
          <div class="templateMainTitle">
            AFFF MDL Portal
          </div>
          <div class="templateSubTitle">
            In re: Aqueous Film-Forming Foams Products Liability Litigation (MDL 2873)
          </div>
        </a>
      </div>

    </div>
    <div id="flash-message" style="float:left;display:none"></div>
    <!-- <div class="loginControl">
      Welcome jeffrey.schram@eisneramper.com
      |
      <a href="/Account/LogOff">Logout</a>
    </div> -->
  </div>

</div>