<!-- Mobile Header -->
<div id="HeaderPane_EB" class="dxpnl-bar dxpnl-edge t dxpnlControl_MaterialCompact headerPane bar dxpnl-expanded"
  style="background-color:#003057;">
  <div class="dxpnl-bar-tmpl dxpnl-np" style="width: calc(100% - 16px);">
    <div class="templateTitle">
      <a href="/">AFFF MDL Portal</a>
    </div>
  </div>
  <div id="HeaderPane_EBB" class="dxpnl-btn dxpnl-fp  dxpnl-btnSelected" style="margin-top: 5.75px;">
    <img id="HeaderPane_EBBI" class="dxWeb_pnlExpand_MaterialCompact" src="/DXR.axd?r=1_87-SZRsu" alt="">
  </div>
</div>

<!-- Header -->
<div class="dxpnlControl_MaterialCompact headerPane panel dxpnl-edge t dxpnl-expanded expandedPanel" id="HeaderPane"
  style="background-color: rgb(0, 48, 87); top: 45px;" savedtop="[object Object]">

  <div class="d-flex flex-row">
    <div class="templateTitle" style="width:65%">


      <div class="d-flex align-items-center">
        <img src="/Content/Images/EA Logo.png" alt="EA Logo" style="height: 28px; margin: 0px 12px 0px 0px;">
        <a href="/">
          <div class="templateMainTitle">
            AFFF MDL Portal
          </div>
          <div class="templateSubTitle">
            In re: Aqueous Film-Forming Foams Products Liability Litigation (MDL 2873)
          </div>
        </a>
      </div>

    </div>
    <div id="flash-message" style="float:left;display:none"></div>
    <div class="loginControl">
      Welcome jeffrey.schram@eisneramper.com
      |
      <a href="/Account/LogOff">Logout</a>
    </div>
  </div>
  <div class="headerMenu" style="background-color:#003057">
    <div class="dxmLite_MaterialCompact dxm-ltr">
      <div class="dxm-main dxm-vertical headerMenu" id="HeaderMenu" style="width: 100%;">
        <ul class="dx dxm-image-l dxm-noImages" style="">
          <li class="dxm-item dxm-selected" id="HeaderMenu_DXI0_" style="min-width: 57px;"><a
              class="dxm-content dxm-hasText dx" href="/" id="HeaderMenu_DXI0_T" style="float: none;"><span
                class="dx-vam dxm-contentText">Home</span></a>
          </li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI1_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI1_" style="min-width: 121px;"><a class="dxm-content dxm-hasText dx"
              href="/Announcements/" id="HeaderMenu_DXI1_T" style="float: none;"><span
                class="dx-vam dxm-contentText">Announcements</span></a></li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI2_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI2_" style="min-width: 131px;"><a class="dxm-content dxm-hasText dx"
              href="/PortalDocuments/" target="_blank" id="HeaderMenu_DXI2_T" style="float: none;"><span
                class="dx-vam dxm-contentText">Portal Documents</span></a></li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI3_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI3_" style="min-width: 70px;">
            <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI3_T" style="float: none;">
              <span class="dx-vam dxm-contentText">Security</span>
            </div>
          </li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI4_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI4_" style="min-width: 108px;">
            <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI4_T" style="float: none;">
              <span class="dx-vam dxm-contentText">Administration</span>
            </div>
          </li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI5_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI5_" style="min-width: 122px;"><a class="dxm-content dxm-hasText dx"
              href="/TimeExpense/" id="HeaderMenu_DXI5_T" style="float: none;"><span class="dx-vam dxm-contentText">Time
                &amp; Expense</span></a></li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI6_IS"><b></b></li>
          <li class="dxm-item dxm-hovered" id="HeaderMenu_DXI6_" style="min-width: 113px;"><a
              class="dxm-content dxm-hasText dx" href="/FactSheet/Search" id="HeaderMenu_DXI6_T"
              style="float: none; color: inherit;" savedhoverstateitemcolor="[object Object]"><span
                class="dx-vam dxm-contentText">Plaintiff Search</span></a></li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI7_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI7_" style="min-width: 88px;">
            <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI7_T" style="float: none;">
              <span class="dx-vam dxm-contentText">Extensions</span>
            </div>
          </li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI8_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI8_" style="min-width: 69px;"><a class="dxm-content dxm-hasText dx"
              href="/Report/" id="HeaderMenu_DXI8_T" style="float: none;"><span
                class="dx-vam dxm-contentText">Reports</span></a></li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI9_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI9_" style="min-width: 66px;">
            <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI9_T" style="float: none;">
              <span class="dx-vam dxm-contentText">Imports</span>
            </div>
          </li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI10_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI10_" style="min-width: 96px;">
            <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI10_T" style="float: none;">
              <span class="dx-vam dxm-contentText">Bulk Actions</span>
            </div>
          </li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI11_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI11_" style="min-width: 51px;">
            <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI11_T" style="float: none;">
              <span class="dx-vam dxm-contentText">Audit</span>
            </div>
          </li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI12_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI12_" style="min-width: 52px;">
            <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI12_T" style="float: none;">
              <span class="dx-vam dxm-contentText">Case</span>
            </div>
          </li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;" id="HeaderMenu_DXI13_IS"><b></b></li>
          <li class="dxm-item" id="HeaderMenu_DXI13_" style="min-width: 89px;"><a class="dxm-content dxm-hasText dx"
              href="/ContactUs/" id="HeaderMenu_DXI13_T" style="float: none;"><span
                class="dx-vam dxm-contentText">Contact Us</span></a></li>
          <li class="dxm-separator" style="padding-left: 0px; padding-right: 0px;"><b></b></li>
        </ul>
      </div><b class="dx-clear"></b>
      <div id="HeaderMenu_DXM3_" style="z-index: 20002; display: none; position: absolute;">
        <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME3_">
          <ul class="dx dxm-noImages dxm-gutter">
            <li class="dxm-item" id="HeaderMenu_DXI3i0_"><a class="dxm-content dxm-hasText dx" href="/Security/"
                id="HeaderMenu_DXI3i0_T"><span class="dx-vam dxm-contentText">User Management</span></a><b
                class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI3i1_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI3i1_"><a class="dxm-content dxm-hasText dx"
                href="/Security/RoleManagement/" id="HeaderMenu_DXI3i1_T"><span class="dx-vam dxm-contentText">Role
                  Management</span></a><b class="dx-clear"></b></li>
          </ul>
        </div>
      </div>
      <div id="HeaderMenu_DXM4_" style="z-index: 20002; display: none; position: absolute;">
        <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME4_">
          <ul class="dx dxm-noImages dxm-gutter">
            <li class="dxm-item" id="HeaderMenu_DXI4i0_"><a class="dxm-content dxm-hasText dx"
                href="/Admin/LawFirmAdmin" id="HeaderMenu_DXI4i0_T"><span class="dx-vam dxm-contentText">Law Firm
                  Administration</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i1_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i1_"><a class="dxm-content dxm-hasText dx"
                href="/Admin/LawFirmUserApproval" id="HeaderMenu_DXI4i1_T"><span class="dx-vam dxm-contentText">Law Firm
                  Approval</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i2_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i2_"><a class="dxm-content dxm-hasText dx"
                href="/Admin/Announcements" id="HeaderMenu_DXI4i2_T"><span class="dx-vam dxm-contentText">Announcements
                  Admin</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i3_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i3_"><a class="dxm-content dxm-hasText dx" href="/Admin/Milestones"
                id="HeaderMenu_DXI4i3_T"><span class="dx-vam dxm-contentText">Case Milestones</span></a><b
                class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i4_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i4_"><a class="dxm-content dxm-hasText dx"
                href="/Admin/AllocationInfo" id="HeaderMenu_DXI4i4_T"><span class="dx-vam dxm-contentText">Allocation
                  Info</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i5_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i5_"><a class="dxm-content dxm-hasText dx"
                href="/Admin/PortalDocumentAdmin" id="HeaderMenu_DXI4i5_T"><span class="dx-vam dxm-contentText">Portal
                  Document Admin</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i6_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i6_"><a class="dxm-content dxm-hasText dx"
                href="/Admin/ClaimFormAdmin" id="HeaderMenu_DXI4i6_T"><span class="dx-vam dxm-contentText">Claim Form
                  Admin</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i7_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i7_"><a class="dxm-content dxm-hasText dx"
                href="/Admin/TimeExpenseStatusAdmin" id="HeaderMenu_DXI4i7_T"><span class="dx-vam dxm-contentText">Time
                  &amp; Expense Status Admin</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i8_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i8_"><a class="dxm-content dxm-hasText dx"
                href="/Admin/BulkClaimReview" id="HeaderMenu_DXI4i8_T"><span class="dx-vam dxm-contentText">Bulk Claim
                  Review</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i9_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i9_"><a class="dxm-content dxm-hasText dx" href="/Admin/ClaimImport"
                id="HeaderMenu_DXI4i9_T"><span class="dx-vam dxm-contentText">Bulk Claim Import</span></a><b
                class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i10_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i10_"><a class="dxm-content dxm-hasText dx"
                href="/Admin/BulkSoftDelete" id="HeaderMenu_DXI4i10_T"><span class="dx-vam dxm-contentText">Bulk Soft
                  Delete</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI4i11_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI4i11_"><a class="dxm-content dxm-hasText dx"
                href="/Admin/BulkUpdateLitigationStatus" id="HeaderMenu_DXI4i11_T"><span
                  class="dx-vam dxm-contentText">Bulk Litigation Status</span></a><b class="dx-clear"></b></li>
          </ul>
        </div>
      </div>
      <div id="HeaderMenu_DXM7_" style="z-index: 20002; display: none; position: absolute;">
        <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME7_">
          <ul class="dx dxm-noImages dxm-gutter">
            <li class="dxm-item" id="HeaderMenu_DXI7i0_"><a class="dxm-content dxm-hasText dx"
                href="/Extension/ClaimExtensionRequest" id="HeaderMenu_DXI7i0_T"><span
                  class="dx-vam dxm-contentText">Claim Extension Request</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI7i1_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI7i1_"><a class="dxm-content dxm-hasText dx"
                href="/Extension/ClaimExtensionReview" id="HeaderMenu_DXI7i1_T"><span
                  class="dx-vam dxm-contentText">Claim Extension Review</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI7i2_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI7i2_"><a class="dxm-content dxm-hasText dx"
                href="/Extension/PlaintiffExtensionRequest" id="HeaderMenu_DXI7i2_T"><span
                  class="dx-vam dxm-contentText">Plaintiff Extension Request</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI7i3_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI7i3_"><a class="dxm-content dxm-hasText dx"
                href="/Extension/PlaintiffExtensionReview" id="HeaderMenu_DXI7i3_T"><span
                  class="dx-vam dxm-contentText">Plaintiff Extension Review</span></a><b class="dx-clear"></b></li>
          </ul>
        </div>
      </div>
      <div id="HeaderMenu_DXM9_" style="z-index: 20002; display: none; position: absolute;">
        <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME9_">
          <ul class="dx dxm-noImages dxm-gutter">
            <li class="dxm-item" id="HeaderMenu_DXI9i0_"><a class="dxm-content dxm-hasText dx" href="/Import/Plaintiff"
                id="HeaderMenu_DXI9i0_T"><span class="dx-vam dxm-contentText">Plaintiff</span></a><b
                class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI9i1_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI9i1_"><a class="dxm-content dxm-hasText dx" href="/Import/Details"
                id="HeaderMenu_DXI9i1_T"><span class="dx-vam dxm-contentText">Details</span></a><b class="dx-clear"></b>
            </li>
            <li class="dxm-spacing" id="HeaderMenu_DXI9i2_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI9i2_"><a class="dxm-content dxm-hasText dx" href="/Import/Documents"
                id="HeaderMenu_DXI9i2_T"><span class="dx-vam dxm-contentText">Documents</span></a><b
                class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI9i3_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI9i3_"><a class="dxm-content dxm-hasText dx" href="/Import/Defense"
                id="HeaderMenu_DXI9i3_T"><span class="dx-vam dxm-contentText">Defense</span></a><b class="dx-clear"></b>
            </li>
            <li class="dxm-spacing" id="HeaderMenu_DXI9i4_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI9i4_"><a class="dxm-content dxm-hasText dx" href="/Import/Logs"
                id="HeaderMenu_DXI9i4_T"><span class="dx-vam dxm-contentText">Logs</span></a><b class="dx-clear"></b>
            </li>
          </ul>
        </div>
      </div>
      <div id="HeaderMenu_DXM10_" style="z-index: 20002; display: none; position: absolute;">
        <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME10_">
          <ul class="dx dxm-noImages dxm-gutter">
            <li class="dxm-item" id="HeaderMenu_DXI10i0_"><a class="dxm-content dxm-hasText dx"
                href="/FSBulkOperationsWizard/BulkAmend" id="HeaderMenu_DXI10i0_T"><span
                  class="dx-vam dxm-contentText">Bulk Amend</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI10i1_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI10i1_"><a class="dxm-content dxm-hasText dx"
                href="/FSBulkOperationsWizard/BulkSubmission" id="HeaderMenu_DXI10i1_T"><span
                  class="dx-vam dxm-contentText">Bulk Submission</span></a><b class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI10i2_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI10i2_"><a class="dxm-content dxm-hasText dx"
                href="/FSBulkOperationsWizard" id="HeaderMenu_DXI10i2_T"><span class="dx-vam dxm-contentText">Bulk
                  E-Signature Request</span></a><b class="dx-clear"></b></li>
          </ul>
        </div>
      </div>
      <div id="HeaderMenu_DXM11_" style="z-index: 20002; display: none; position: absolute;">
        <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME11_">
          <ul class="dx dxm-noImages dxm-gutter">
            <li class="dxm-item" id="HeaderMenu_DXI11i0_"><a class="dxm-content dxm-hasText dx" href="/Audit/"
                id="HeaderMenu_DXI11i0_T"><span class="dx-vam dxm-contentText">System Audit</span></a><b
                class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI11i1_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI11i1_"><a class="dxm-content dxm-hasText dx" href="/Audit/EmailLog"
                id="HeaderMenu_DXI11i1_T"><span class="dx-vam dxm-contentText">Email Log</span></a><b
                class="dx-clear"></b></li>
          </ul>
        </div>
      </div>
      <div id="HeaderMenu_DXM12_" style="z-index: 20002; display: none; position: absolute;">
        <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME12_">
          <ul class="dx dxm-noImages dxm-gutter">
            <li class="dxm-item" id="HeaderMenu_DXI12i0_"><a class="dxm-content dxm-hasText dx" href="/Case/ClaimAdmin"
                id="HeaderMenu_DXI12i0_T"><span class="dx-vam dxm-contentText">Claim Admin</span></a><b
                class="dx-clear"></b></li>
            <li class="dxm-spacing" id="HeaderMenu_DXI12i1_II"></li>
            <li class="dxm-item" id="HeaderMenu_DXI12i1_"><a class="dxm-content dxm-hasText dx"
                href="/Case/WorkflowAdmin" id="HeaderMenu_DXI12i1_T"><span class="dx-vam dxm-contentText">Workflow
                  Admin</span></a><b class="dx-clear"></b></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>