<div class="dxpnl-bar dxpnl-edge t dxpnlControl_MaterialCompact headerPane bar" id="HeaderPane_EB">
      <div class="dxpnl-bar-tmpl dxpnl-np">
        <div class="templateTitle">
          <a href="/">AFFF MDL Portal</a>
        </div>
      </div>
      <div class="dxpnl-btn dxpnl-fp" id="HeaderPane_EBB">
        <img alt="" class="dxWeb_pnlExpand_MaterialCompact" id="HeaderPane_EBBI" src="/DXR.axd?r=1_87-SZRsu">
      </div>
    </div>
    <div class="dxpnlControl_MaterialCompact headerPane panel dxpnl-edge t" id="HeaderPane">
      <div class="d-flex flex-row">
        <div class="templateTitle">
          <div class="d-flex align-items-center">
            <img alt="EA Logo" src="/Content/Images/EA Logo.png">
            <a href="/">
              <div class="templateMainTitle">AFFF MDL Portal</div>
              <div class="templateSubTitle">In re: Aqueous Film-Forming Foams Products Liability Litigation (MDL 2873)</div>
            </a>
          </div>
        </div>
        <div id="flash-message"></div>
        <div class="loginControl">
          Welcome jeffrey.schram@eisneramper.com |
          <a href="/Account/LogOff">Logout</a>
        </div>
      </div>
      <div class="headerMenu">
        <div class="dxmLite_MaterialCompact dxm-ltr">
          <div class="dxm-main dxm-horizontal headerMenu" id="HeaderMenu">
            <ul class="dx dxm-image-l dxm-noImages">
              <li class="dxm-item" id="HeaderMenu_DXI0_">
                <a class="dxm-content dxm-hasText dx" href="/" id="HeaderMenu_DXI0_T">
                  <span class="dx-vam dxm-contentText">Home</span>
                </a>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI1_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI1_">
                <a class="dxm-content dxm-hasText dx" href="/Announcements/" id="HeaderMenu_DXI1_T">
                  <span class="dx-vam dxm-contentText">Announcements</span>
                </a>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI2_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI2_">
                <a class="dxm-content dxm-hasText dx" href="/PortalDocuments/" id="HeaderMenu_DXI2_T" target="_blank">
                  <span class="dx-vam dxm-contentText">Portal Documents</span>
                </a>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI3_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI3_">
                <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI3_T">
                  <span class="dx-vam dxm-contentText">Security</span>
                </div>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI4_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI4_">
                <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI4_T">
                  <span class="dx-vam dxm-contentText">Administration</span>
                </div>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI5_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI5_">
                <a class="dxm-content dxm-hasText dx" href="/FactSheet/Search" id="HeaderMenu_DXI5_T">
                  <span class="dx-vam dxm-contentText">Plaintiff Search</span>
                </a>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI6_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI6_">
                <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI6_T">
                  <span class="dx-vam dxm-contentText">Extensions</span>
                </div>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI7_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI7_">
                <a class="dxm-content dxm-hasText dx" href="/Report/" id="HeaderMenu_DXI7_T">
                  <span class="dx-vam dxm-contentText">Reports</span>
                </a>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI8_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI8_">
                <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI8_T">
                  <span class="dx-vam dxm-contentText">Imports</span>
                </div>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI9_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI9_">
                <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI9_T">
                  <span class="dx-vam dxm-contentText">Bulk Actions</span>
                </div>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI10_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI10_">
                <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI10_T">
                  <span class="dx-vam dxm-contentText">Audit</span>
                </div>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI11_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI11_">
                <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI11_T">
                  <span class="dx-vam dxm-contentText">Case</span>
                </div>
              </li>
              <li class="dxm-separator" id="HeaderMenu_DXI12_IS">
                <b></b>
              </li>
              <li class="dxm-item" id="HeaderMenu_DXI12_">
                <a class="dxm-content dxm-hasText dx" href="/ContactUs/" id="HeaderMenu_DXI12_T">
                  <span class="dx-vam dxm-contentText">Contact Us</span>
                </a>
              </li>
              <li class="dxm-separator">
                <b></b>
              </li>
            </ul>
          </div>
          <b class="dx-clear"></b>
          <div id="HeaderMenu_DXM3_">
            <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME3_">
              <ul class="dx dxm-noImages dxm-gutter">
                <li class="dxm-item" id="HeaderMenu_DXI3i0_">
                  <a class="dxm-content dxm-hasText dx" href="/Security/" id="HeaderMenu_DXI3i0_T">
                    <span class="dx-vam dxm-contentText">User Management</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI3i1_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI3i1_">
                  <a class="dxm-content dxm-hasText dx" href="/Security/RoleManagement/" id="HeaderMenu_DXI3i1_T">
                    <span class="dx-vam dxm-contentText">Role Management</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
              </ul>
            </div>
          </div>
          <div id="HeaderMenu_DXM4_">
            <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME4_">
              <ul class="dx dxm-noImages dxm-gutter">
                <li class="dxm-item" id="HeaderMenu_DXI4i0_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/LawFirmAdmin" id="HeaderMenu_DXI4i0_T">
                    <span class="dx-vam dxm-contentText">Law Firm Administration</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i1_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI4i1_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/LawFirmUserApproval" id="HeaderMenu_DXI4i1_T">
                    <span class="dx-vam dxm-contentText">Law Firm Approval</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i2_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI4i2_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/Announcements" id="HeaderMenu_DXI4i2_T">
                    <span class="dx-vam dxm-contentText">Announcements Admin</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i3_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI4i3_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/Milestones" id="HeaderMenu_DXI4i3_T">
                    <span class="dx-vam dxm-contentText">Case Milestones</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i4_II"></li>
                <li class="dxm-item dxm-selected" id="HeaderMenu_DXI4i4_">
                  <div class="dxm-content dxm-hasText" id="HeaderMenu_DXI4i4_T">
                    <span class="dx-vam dxm-contentText">Allocation Info</span>
                  </div>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i5_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI4i5_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/PortalDocumentAdmin" id="HeaderMenu_DXI4i5_T">
                    <span class="dx-vam dxm-contentText">Portal Document Admin</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i6_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI4i6_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/ClaimFormAdmin" id="HeaderMenu_DXI4i6_T">
                    <span class="dx-vam dxm-contentText">Claim Form Admin</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i7_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI4i7_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/TimeExpenseStatusAdmin" id="HeaderMenu_DXI4i7_T">
                    <span class="dx-vam dxm-contentText">Time & Expense Status Admin</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i8_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI4i8_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/BulkClaimReview" id="HeaderMenu_DXI4i8_T">
                    <span class="dx-vam dxm-contentText">Bulk Claim Review</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i9_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI4i9_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/ClaimImport" id="HeaderMenu_DXI4i9_T">
                    <span class="dx-vam dxm-contentText">Bulk Claim Import</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i10_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI4i10_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/BulkSoftDelete" id="HeaderMenu_DXI4i10_T">
                    <span class="dx-vam dxm-contentText">Bulk Soft Delete</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI4i11_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI4i11_">
                  <a class="dxm-content dxm-hasText dx" href="/Admin/BulkUpdateLitigationStatus" id="HeaderMenu_DXI4i11_T">
                    <span class="dx-vam dxm-contentText">Bulk Litigation Status</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
              </ul>
            </div>
          </div>
          <div id="HeaderMenu_DXM6_">
            <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME6_">
              <ul class="dx dxm-noImages dxm-gutter">
                <li class="dxm-item" id="HeaderMenu_DXI6i0_">
                  <a class="dxm-content dxm-hasText dx" href="/Extension/ClaimExtensionRequest" id="HeaderMenu_DXI6i0_T">
                    <span class="dx-vam dxm-contentText">Claim Extension Request</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI6i1_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI6i1_">
                  <a class="dxm-content dxm-hasText dx" href="/Extension/ClaimExtensionReview" id="HeaderMenu_DXI6i1_T">
                    <span class="dx-vam dxm-contentText">Claim Extension Review</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI6i2_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI6i2_">
                  <a class="dxm-content dxm-hasText dx" href="/Extension/PlaintiffExtensionRequest" id="HeaderMenu_DXI6i2_T">
                    <span class="dx-vam dxm-contentText">Plaintiff Extension Request</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI6i3_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI6i3_">
                  <a class="dxm-content dxm-hasText dx" href="/Extension/PlaintiffExtensionReview" id="HeaderMenu_DXI6i3_T">
                    <span class="dx-vam dxm-contentText">Plaintiff Extension Review</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
              </ul>
            </div>
          </div>
          <div id="HeaderMenu_DXM8_">
            <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME8_">
              <ul class="dx dxm-noImages dxm-gutter">
                <li class="dxm-item" id="HeaderMenu_DXI8i0_">
                  <a class="dxm-content dxm-hasText dx" href="/Import/Plaintiff" id="HeaderMenu_DXI8i0_T">
                    <span class="dx-vam dxm-contentText">Plaintiff</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI8i1_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI8i1_">
                  <a class="dxm-content dxm-hasText dx" href="/Import/Details" id="HeaderMenu_DXI8i1_T">
                    <span class="dx-vam dxm-contentText">Details</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI8i2_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI8i2_">
                  <a class="dxm-content dxm-hasText dx" href="/Import/Documents" id="HeaderMenu_DXI8i2_T">
                    <span class="dx-vam dxm-contentText">Documents</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI8i3_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI8i3_">
                  <a class="dxm-content dxm-hasText dx" href="/Import/Defense" id="HeaderMenu_DXI8i3_T">
                    <span class="dx-vam dxm-contentText">Defense</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI8i4_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI8i4_">
                  <a class="dxm-content dxm-hasText dx" href="/Import/Logs" id="HeaderMenu_DXI8i4_T">
                    <span class="dx-vam dxm-contentText">Logs</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
              </ul>
            </div>
          </div>
          <div id="HeaderMenu_DXM9_">
            <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME9_">
              <ul class="dx dxm-noImages dxm-gutter">
                <li class="dxm-item" id="HeaderMenu_DXI9i0_">
                  <a class="dxm-content dxm-hasText dx" href="/FSBulkOperationsWizard/BulkAmend" id="HeaderMenu_DXI9i0_T">
                    <span class="dx-vam dxm-contentText">Bulk Amend</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI9i1_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI9i1_">
                  <a class="dxm-content dxm-hasText dx" href="/FSBulkOperationsWizard/BulkSubmission" id="HeaderMenu_DXI9i1_T">
                    <span class="dx-vam dxm-contentText">Bulk Submission</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI9i2_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI9i2_">
                  <a class="dxm-content dxm-hasText dx" href="/FSBulkOperationsWizard" id="HeaderMenu_DXI9i2_T">
                    <span class="dx-vam dxm-contentText">Bulk E-Signature Request</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
              </ul>
            </div>
          </div>
          <div id="HeaderMenu_DXM10_">
            <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME10_">
              <ul class="dx dxm-noImages dxm-gutter">
                <li class="dxm-item" id="HeaderMenu_DXI10i0_">
                  <a class="dxm-content dxm-hasText dx" href="/Audit/" id="HeaderMenu_DXI10i0_T">
                    <span class="dx-vam dxm-contentText">System Audit</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI10i1_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI10i1_">
                  <a class="dxm-content dxm-hasText dx" href="/Audit/EmailLog" id="HeaderMenu_DXI10i1_T">
                    <span class="dx-vam dxm-contentText">Email Log</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
              </ul>
            </div>
          </div>
          <div id="HeaderMenu_DXM11_">
            <div class="dxm-shadow dxm-popup" id="HeaderMenu_DXME11_">
              <ul class="dx dxm-noImages dxm-gutter">
                <li class="dxm-item" id="HeaderMenu_DXI11i0_">
                  <a class="dxm-content dxm-hasText dx" href="/Case/ClaimAdmin" id="HeaderMenu_DXI11i0_T">
                    <span class="dx-vam dxm-contentText">Claim Admin</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
                <li class="dxm-spacing" id="HeaderMenu_DXI11i1_II"></li>
                <li class="dxm-item" id="HeaderMenu_DXI11i1_">
                  <a class="dxm-content dxm-hasText dx" href="/Case/WorkflowAdmin" id="HeaderMenu_DXI11i1_T">
                    <span class="dx-vam dxm-contentText">Workflow Admin</span>
                  </a>
                  <b class="dx-clear"></b>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>